footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  background-color: #0e788e;
  color: white;
  font-weight: bold;
}

.footer-text {
  size: 2rem;
}
