header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  background-color: #0e788e;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

header h1 {
  padding: 0.5rem 1rem;
  background-color: white;
  color: #0e788e;
}

header button {
  font-family: inherit;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background: transparent;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  opacity: 0.8;
}

header button:hover {
  font-size: 1.5rem;
  opacity: 1;
  color: #c2185b;
  border: 2px solid #c2185b;
}
